<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.topapp.radinaldn.e_kinerja">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_performance"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.KerjaActivity"
            android:label="Kerja Saya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.KegiatanActivity"
            android:label="Master Kegiatan"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".activities.KinerjaActivity"
            android:label="Kinerja Saya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AgendaActivity"
            android:label="@string/title_activity_agenda"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.ReminderAgendaService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>